* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Raleway, sans-serif;
  line-height: 1.6;
}

#header {
  display: flex;
  justify-content: sapce-between;
  align-items: center;
  background-color: #0c1b33;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}

#header-img {
  width:100px;
}

#nav-bar {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

section {
  padding: 6rem 2rem 2rem;
  margin-top: 80px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 1rem;
}

input[type="email"],
input[type="submit"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
}

@media (max-width: 600px) {
  #header {
    flex-direction: column;
    align-items: flex-start;
  }
  #nav-bar {
   flex-direction: column;
   gap: 0.5rem; 
  }
}